{
  "openapi": "3.0.1",
  "info": {
    "title": "Text-to-Speech",
    "description": "FineVoice Text-to-Speech (TTS) API for converting text into natural-sounding speech.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://converter.fineshare.net",
      "description": "Voices"
    }
  ],
  "paths": {
    "/v1/speech-synthesis": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Converts text to speech using a selected AI voice model.",
        "operationId": "SpeechSynthesis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSReqModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSReqModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TTSReqModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TTSReqModel": {
        "type": "object",
        "properties": {
          "voice": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}

